<head>
    <title>Passport Authentication</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://kit.fontawesome.com/3fe1ffe2bf.js" crossorigin="anonymous"></script>
    <link href="stylesheets/style.css" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="nav-wrapper blue-grey darken-4">
            <a href="#" class="brand-logo right"> <i class="fab fa-galactic-republic"></i><i
                    class="fab fa-galactic-republic"></i> Welcome to MetaBook <i
                    class="fab fa-galactic-republic"></i></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="index.html">Zodiac signs</a></li>
                <li><a href="signup.html">Signup</a></li>
                <li><a href="template.html">Horoscope</a></li>
            </ul>
        </div>
    </nav>
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col s6 m6">
                    <div class="card-medium">
                        <div class="card-image">
                            <img src="{{ pictureUrl }}">
                            <h1 class="card-title white-text"> {{ pageTitle }} </h1>

                        </div>
                        <div class="card-content white-text">
                            <p> {{horoscope}} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m12">
                <h2 class="white-text"><i class="fas fa-moon"></i>Traits:
                    <i class="fas fa-moon"></i></h2>
                <ul class="white-text">
                    <li> Planet <i class="fas fa-globe-africa"></i> {{ planet }} </li>
                    <li>Element <i class="fas fa-atom"></i> {{ element}} </li>
                    <li>Color <i class="fas fa-atom"></i>{{color}} </li>
                    <li>Lucky Numbers <i class="fas fa-sort-numeric-up"></i> {{luckyNumbers}}</li>
                    <li>Strengths <i class="fas fa-fist-raised"></i> {{strengths}}</li>
                    <li>Weaknesses <i class="fas fa-spa"></i>{{weaknesses}}</li>
                </ul>

            </div>
        </div>
    </div>

    <footer class="page-footer pink darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <p class="grey-text text-lighten-4"><i class="fas fa-bahai"></i>"The Universe said,Let me show
                        your soul something
                        beautiful."<i class="fas fa-bahai"></i></p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">You can find us at</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://github.com/cwright489/Project2">Github
                                <i class="fab fa-github">
                                </i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                © 2020 Copyright Team Keanu
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/members.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.parallax').parallax();
        });
    </script>

</body>